body{
    margin:0;
    padding:0;
    font-family:Arial;
    background-color:#f0f0f0;
}

.navbar{
    background-color:green;
    padding:20px;
    text-align:center;
    position:fixed;
    width:100%;
    top:0;
    left:0;
}

.navbar h1{
    color:white;
    margin-bottom:10px;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:8px;
    font-size:18px;
}

.navbar a:hover{
    color:yellow;
}

.home{
    background:white;
    margin:120px 20px 20px 20px;
    padding:30px;
    text-align:center;
    border-radius:10px;
}
img{
    width: 700px;
    height: 400px;
}

.home h2{
    color:green;
}

.services{
    background:white;
    margin:20px;
    padding:30px;
    border-radius:10px;
}

.services h2{
    color:green;
    text-align:center;
}

.products{
    background:white;
    margin:20px;
    padding:30px;
    border-radius:10px;
}

.products h2{
    color:green;
    text-align:center;
}

.contact{
    background:white;
    margin:20px;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

.contact h2{
    color:green;
}

.box{
    background:#e8e8e8;
    padding:20px;
    margin-top:20px;
    border-radius:8px;
}

.box h3{
    color:darkgreen;
}

.box:hover{
    background:#dcdcdc;
}

.footer{
    background:green;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}