*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:lightgray;
    font-familly:Arial, Helvetica, san-serif;
}
.main-box{
    width : 1200px;
    margin : 0 auto;
    background-color: white;
}
.top-part{
    background-color: teal;
    padding : 40px 50px;
    color : white;
}
.store-name{
    font-size : 42px;
    font-weight : bold;
    margin-bottom : 10px;
}
.slogan{
    font-size :18px;
    margin-bottom : 10px;
}
.store-location{
    font-size :14px;
    margin-top :10px;
}
.menu-bar{
    background-color:darkcyan;
    padding: 15px 50px;
    display: flex;
    gap:40px;
}
.menu-item{
    color:white;
    font-size : 16px;
    font-weight :bold
}
.inside-content{
    padding : 40px 50px;
}
.big-title{
    font-size :28px;
    color:darkgreen;
    margin-bottom : 20px;
    margin-top : 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}
.medium-title{
    font-size:16px;
    color:black;
    line-height:1.6;
    margin-bottom: 15px;
}
.small-text{
    font-size : 15px;
    color : darkslategray;
    line-height: 1.5;;
}
.welcome-box{
    background-color: whitesmoke;
    padding: 25px;
    margin-bottom: 20px;
    border-left: 4px solid teal;
}
.four-items{
    display: flex;
    flex-wrap:wrap;
    gap:25px;
    margin-bottom : 30px;
}
.one-item{
 background-color: lightcyan;
 padding: 20px;
 width: calc(25% - 19px);
 border: 1px solid lightblue;
}
.six-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}
.one-category{
    background-color: lavender;
    padding: 18px;
    width: calc(33.43% - 14px);
    border : 1px solid lightgray
}

.tips-box{
    margin-bottom: 30px;
}
.six-tips{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.one-tip{
    background-color: ivory;
    padding: 18px;
    width:calc(36% - 14px);
    border-left:3px solid teal;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;

}
.about-box{
    background-color: whitesmoke;
    padding: 25px;
    margin-bottom:30px;

}
.hours-box{
    margin-bottom: 30px;
}
.hours-list{
    background-color: lightcyan;
    padding:20px;
    border:1px solid lightblue;
}
.day-line{
    font-weight :bold;
    font-size : 16px;
    color:darkgreen;
    padding: 8px 0;
    width:200px;
    display: inline-block;
}
.time-line{
    font-size :16px;
    color:black;
    padding:8px 0;
    display:inline-bock;
}
.contact-box{
    margin-bottom:30px;
}
.contact-lines{
    background-color:lightcyan;
    padding:20px;
    border:1px solid lightblue;
}
.contact-line{
    font-size :16px;
    color: black;
    padding:8px 0;;
}
.payment-box{
    background-color:whitesmoke;
    padding:25px;
    margin-bottom:30px;
}
.new-section-one{
    margin-bottom:40px;
}
.team-members{
    display:flex;
    flex-wrap: wrap;
    gap: 25px;
}
.one-member{
    background-color:lightcyan;
    padding:20px;
    width:calc(25%-19px);
    border:1px solid blue;
}
.new-section-two{
    margin-bottom:40px;
}
.offers-list{
    display:flex;
    flex-wrap:wrap;
    gap: 25px;
}
.one-offer{
    background-color:levender;
    padding:20px;
    width:calc(33.33% - 17px);
    border:1px solid lightgray;
}
.new-section-three{
    margin-bottom:40px;
}

.medicines-grid{
 display: flex;
 flex-wrap:wrap;
 gap:20px;   
}
.one-medicine{
    backgound-color:ivory;
    padding:18px;
    width:calc(33.33%-14px);
    border:1px solid lightgray;
}
.new-section-four{
    margin-bottom:40px;
}
.resources-list{
    display:flex;
    flex-wrap:wrap;
    gap:25px
}
.one-resource{
    background-color:lightcyan;
    padding:20px;
    width:calc(25% - 19px);
    border:1px solid lightblue;

}
.new-section-five{
    margin-bottom:40px;
}
.reasons-list{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.one-reason{
    background-color:levender;
    padding:18px;
    width:calc(33.33% - 14px);
    border:1px solid lightgray;
}
.new-section-six{
    margin-bottom:40px;
}
.safety-list{
    display:flex;
    flex-wrap:wrap;
    gap:25px
}
.one-safety{
    background-color:ivory;
    padding:20px;
    width:calc(25% - 19px);
    border:1px solid lightgray;
}
.new-section-seven{
    margin-bottom:40px;

}
.testmonials-list{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}
.one-testimonial{
    background-color:lightcyan;
    padding : 20px;
    width:calc(25% - 19px);
    border:1px solid lightblue; 
}
.new-section-eight{
    margin-bottom:40px;
}
.seasonal-list{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}
.one-seasonal{
    background-color:levender;
    padding:20px;
    width:calc(25% - 19px);
    border:1px solid lightgray;
}
.new-section-nine{
    margin-bottom:40px;
}
.info-list{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.one-info{
    background-color:ivory;
    padding:18px;
    width:calc(33.33% -14px);
    border:1px solid lightgray;
}
.new-section-ten{
    margin-bottom:40px;
}
.outreach-list{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
}
.footer{
    padding-left: 600px;
}
img{
    width: 800px;
    height: 300px;
}